torch==1.12.0+computecanada
torchvision==0.11.1
torchmetrics==0.5.1
numba==0.58.0+computecanada
tqdm==4.66.4+computecanada
fastargs==1.2.0+computecanada
terminaltables==3.1.10+computecanada
ffcv==0.0.3+computecanada
cupy==12.2.0+computecanada